body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #FAFFC5;
    user-select: none;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    background: #A9BFA8;

    padding: 15px 20px;
    border-radius: 15px;
}

h2 {
    font-size: 3em;
    color: #3A3960;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 10px 30px;
    width: 100%;
    color: #A9BFA8;
    background-color: #3A3960;
    font-size: 1.5em;
    border: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid transparent;
    border-radius: 15px;
}

.reset:hover {
    color: #3A3960;
    background-color: transparent;
    border: 2px solid #3A3960;
    
    transition: 0.3s;
}

.game {
    width: 450px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    display: flex;
    position: relative;
    width: 100px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
    border-radius: 5px;
    cursor: pointer;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../image/baralho.png);
    background-size: cover;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.item.boxOpen {
    transform: rotateY(0deg);
    transition: 0.25s;
}

.boxOpen::after {
    transform: rotateY(180deg);
    transition: 0.25s;
}

.win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
        font-size: 5rem;
        color: gold;
    }
}

.unshow {
    display: none;
}



footer {
    padding: 0.8em;

    span, a {
        font-size: 0.8rem;
        text-decoration: none;
        font-family:cursive, sans-serif;
        color: #3A3960;
    }
}

footer:hover a {
    color: #8da08c;
    text-decoration: underline;
}

